*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: purple;
    width: 40px;
    padding: 60px 0;
    min-width: 500px;
    top: 50%;
    left: 50%;
    padding: 60px 0;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
}
.timerDisplay{
position: relative;
width: 110%;
background:linear-gradient(
    -135deg,
    #0048ce,
    #008bfd
);
align-items: center;
display: flex;
left: -5%;
padding: 40px 0;
justify-content: space-around;
color: #ffff;
font-family: robot 'Courier New', Courier, monospace;
font-size: 50px;
box-shadow: 0 0 rgba(0, 139, 253, 0.25);
border-radius: 5px;
}
.buttons{
    width: 80%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.buttons button{
padding: 10px 20px;
background-color: #ffff;
color: #141414;
border: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
cursor: pointer;
font-size: 18px;
border-radius: 5px;
outline: none;
}